* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: burlywood;
}


.container {
    text-align: center;    
}

h3 {
    font-size: 30px;
}

p {
    font-size: 15px;
    margin-bottom: 30px;
}

label {
    font-size: 20px;
}

input {
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
}


#submit-btn {
    margin-top: 20px;
    cursor: pointer;
    background-color: black;
    color: wheat;
    padding: 10px 30px;
    border-radius: 5px;
}

#submit:hover {
    color: black;
    background-color: wheat;
}